<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Cash</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='addcash.css') }}">
</head>
<body>
    <header>
        <h1>Financial Management System</h1>
         <!-- Navbar wrapper added for styling -->
            <nav class="navbar">
                <ul>
                
                    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('add_cash') }}" class="{% if request.endpoint == 'add_cash' %}active{% endif %}">Add Cash</a></li>
                    <li><a href="{{ url_for('track_expenses') }}" class="{% if request.endpoint == 'track_expenses' %}active{% endif %}">Track Expenses</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </nav>
        
        <p> Name: {{ username }}!</p> 
    </header>
          

    <main>
        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}
        <form action="{{ url_for('add_cash') }}" method="post">
            <section class="add-cash-form">
                <h2>Add Cash to Balance</h2>
                <div class="form-group">
                    <label for="cash-amount">Amount:</label>
                    <input type="number" id="cash-amount" placeholder="Enter amount" name="amount" required>
                </div>
                <div class="form-group">
                    <label for="cash-reason">Reason:</label>
                    <input type="text" id="cash-reason" placeholder="Enter reason for adding cash" name="reason" required>
                </div>
                <button type="submit">Add to Balance</button>
            </section>
        </form>
        <br>
        <br>
        
        
        <h2>Cash Flow Details</h2>
        <table class="cash-flow-table">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Reason</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in cash_entries %}
                <tr>
                    <td>{{ entry.amount }}</td>
                    <td>{{ entry.reason }}</td>
                    <td>{{ entry.date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </main>
</body>
</html>
